[submodule "xennet"]
	path = xennet
	url = https://xenbits.xen.org/git-http/pvdrivers/win/xennet.git
[submodule "xenvbd"]
	path = xenvbd
	url = https://xenbits.xen.org/git-http/pvdrivers/win/xenvbd.git
[submodule "xenvif"]
	path = xenvif
	url = https://xenbits.xen.org/git-http/pvdrivers/win/xenvif.git
[submodule "xenbus"]
	path = xenbus
	url = git://github.com/omeg/xenbus.git
	branch = omeg/win10-qubes-fix
[submodule "xeniface"]
	path = xeniface
	url = git://github.com/omeg/xeniface.git
	branch = omeg/win10
