[submodule "xennet"]
	path = xennet
	url = https://xenbits.xen.org/git-http/pvdrivers/win/xennet.git
[submodule "xenvbd"]
	path = xenvbd
	url = https://xenbits.xen.org/git-http/pvdrivers/win/xenvbd.git
[submodule "xenvif"]
	path = xenvif
	url = https://xenbits.xen.org/git-http/pvdrivers/win/xenvif.git
[submodule "xenbus"]
	path = xenbus
	url = https://xenbits.xen.org/git-http/pvdrivers/win/xenbus.git
[submodule "xeniface"]
	path = xeniface
	url = https://xenbits.xen.org/git-http/pvdrivers/win/xeniface.git
