[submodule "xennet"]
	path = xennet
	url = git://xenbits.xen.org/pvdrivers/win/xennet.git
[submodule "xenvbd"]
	path = xenvbd
	url = git://xenbits.xen.org/pvdrivers/win/xenvbd.git
[submodule "xenvif"]
	path = xenvif
	url = git://xenbits.xen.org/pvdrivers/win/xenvif.git
[submodule "xenbus"]
	path = xenbus
	url = git://github.com/QubesOS/qubes-vmm-xen-win-pvdrivers-xenbus.git
[submodule "xeniface"]
	path = xeniface
	url = git://github.com/QubesOS/qubes-vmm-xen-win-pvdrivers-xeniface.git
