<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
    xmlns:difx='http://schemas.microsoft.com/wix/DifxAppExtension'>

<?if $(env.DDK_ARCH) = x64 ?>
    <?define PFILESDIR = ProgramFiles64Folder ?>
    <?define SYSDIR = System64Folder ?>
<?else?>
    <?define PFILESDIR = ProgramFilesFolder ?>
    <?define SYSDIR = SystemFolder ?>
<?endif ?>

<Module
Id='XenBus'
Language='1033'
Codepage='1252'
Version='$(env.VERSION)'
>

<Package
Id='{BA19D1F4-AE19-4E80-8A68-9FB9CCFC7AAD}'
Description='Xen Paravitual Bus Device Driver'
Manufacturer='Invisible Things Lab'
InstallScope='perMachine'
InstallerVersion='200'
Languages='1033'
SummaryCodepage='1252'
InstallPrivileges='elevated'
/>

<Configuration
Name='ProductFolder'
Format='Key'
Type='Identifier'
DefaultValue='QubesProgramFilesDir'
Description='Installation directory'
DisplayName='Installation directory'
/>

<Substitution Table='Directory' Column='Directory_Parent' Row='DriversDir' Value='[=ProductFolder]'/>

<Directory Id='TARGETDIR' Name='SourceDir'>
    <Directory Id='$(var.PFILESDIR)'>
        <Directory Id='ITLProgramFilesDir' Name='Invisible Things Lab'>
            <Directory Id='QubesProgramFilesDir' Name='Qubes Tools'>
                <Directory Id='DriversDir' Name='Drivers'>
                    <Directory Id='XenbusDir' Name='xenbus'>
                        <Component Id='XenbusDriver' Guid='{FAC4C476-2F1C-4970-B5E1-8FD95A9BBCB9}'>
                            <File Id='XenbusInf' Source='xenbus\xenbus\$(env.DDK_ARCH)\xenbus.inf' KeyPath='yes' />
                            <File Id='XenbusCat' Source='xenbus\xenbus\$(env.DDK_ARCH)\xenbus.cat' />
                            <File Id='XenbusSys' Source='xenbus\xenbus\$(env.DDK_ARCH)\xenbus.sys' />
                            <File Id='XenSys' Source='xenbus\xenbus\$(env.DDK_ARCH)\xen.sys' />
                            <File Id='XenfiltSys' Source='xenbus\xenbus\$(env.DDK_ARCH)\xenfilt.sys' />
                            <File Id='XenbusCoinst' Source='xenbus\xenbus\$(env.DDK_ARCH)\xenbus_coinst.dll' />
                            <difx:Driver Legacy='yes' />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
    </Directory>
</Directory>

</Module>
</Wix>
