<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
    xmlns:difx='http://schemas.microsoft.com/wix/DifxAppExtension'>

<?if $(env.DDK_ARCH) = x64 ?>
    <?define PFILESDIR = ProgramFiles64Folder ?>
    <?define SYSDIR = System64Folder ?>
<?else?>
    <?define PFILESDIR = ProgramFilesFolder ?>
    <?define SYSDIR = SystemFolder ?>
<?endif ?>

<Module
Id='XenIface'
Language='1033'
Codepage='1252'
Version='$(env.VERSION)'
>

<Package
Id='{9516C9BA-0791-4180-AA5F-1E65E7E1EA61}'
Description='Xen Interface Driver'
Manufacturer='Invisible Things Lab'
InstallScope='perMachine'
InstallerVersion='200'
Languages='1033'
SummaryCodepage='1252'
InstallPrivileges='elevated'
/>

<Configuration
Name='ProductFolder'
Format='Key'
Type='Identifier'
DefaultValue='QubesProgramFilesDir'
Description='Installation directory'
DisplayName='Installation directory'
/>

<Substitution Table='Directory' Column='Directory_Parent' Row='DriversDir' Value='[=ProductFolder]'/>

<Directory Id='TARGETDIR' Name='SourceDir'>
    <Directory Id='$(var.PFILESDIR)'>
        <Directory Id='ITLProgramFilesDir' Name='Invisible Things Lab'>
            <Directory Id='QubesProgramFilesDir' Name='Qubes Tools'>
                <Directory Id='DriversDir' Name='Drivers'>
                    <Directory Id='XenifaceDir' Name='xeniface'>
                        <Component Id='XenifaceDriver' Guid='{D464EDB0-CF0D-4FE5-A160-210BF246C3A4}'>
                            <File Id='XenifaceInf' Source='xeniface\xeniface\$(env.DDK_ARCH)\xeniface.inf' KeyPath='yes' />
                            <File Id='XenifaceCat' Source='xeniface\xeniface\$(env.DDK_ARCH)\xeniface.cat' />
                            <File Id='XenifaceSys' Source='xeniface\xeniface\$(env.DDK_ARCH)\xeniface.sys' />
                            <File Id='XenagentDll' Source='xeniface\xeniface\$(env.DDK_ARCH)\xenagent.dll' />
                            <File Id='XenagentExe' Source='xeniface\xeniface\$(env.DDK_ARCH)\xenagent.exe' />
                            <File Id='XenifaceCoinst' Source='xeniface\xeniface\$(env.DDK_ARCH)\xeniface_coinst.dll' />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
    </Directory>

    <Directory Id='$(var.SYSDIR)'>
        <Component Id='XenUserDlls' Guid='{1BA9B085-AFC2-4248-9DF2-5E85692DC707}'>
            <File Id='xencontrol' Source='bin\$(env.DDK_ARCH)\xencontrol.dll' KeyPath='yes' />
            <File Id='libxenvchan' Source='bin\$(env.DDK_ARCH)\libxenvchan.dll' />
        </Component>
    </Directory>
</Directory>

<!-- Cannot use difx:Driver element because it requires difx lib linked with
this module, which causes conflict with any other merge module using that.
This basically means that only one merge module can use the DIFx extension
(see http://wixtoolset.org/issues/1876/).
But this also means that the final MSI will already have all necessary steps to
install the drivers (as long as one of the merge modules does use DIFx).
So just append our driver to the MsiDriverPackage table, to be also installed. -->
<!-- Table schema here: http://msdn.microsoft.com/en-us/library/windows/hardware/ff549362%28v=vs.85%29.aspx -->
<CustomTable Id="MsiDriverPackages">
    <Column Id="Component" Modularize="Column" Nullable="no" Type="string" Width="255" Description="An identifier that represents a driver package" PrimaryKey="yes"/>
    <Column Id="Flags" Nullable="no" Type="int" Width="4" Description="DIFxApp configuration flags"/>
    <Column Id="Sequence" Nullable="yes" Type="int" Width="4" Description="Installation sequence number"/>
    <Row>
        <Data Column="Component">XenifaceDriver</Data>
        <Data Column="Flags">15</Data>
        <Data Column="Sequence">2</Data>
    </Row>
</CustomTable>

</Module>
</Wix>
