<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:difx='http://schemas.microsoft.com/wix/DifxAppExtension'>
     
    <Fragment>
        <DirectoryRef Id='DriversDir'>
            <Directory Id='XennetDir'
                       Name='xennet'>
                <Component Id='XennetDriver'
                           Guid='{AEFEC088-0B30-4EFC-8416-5E3675AC03D0}'>
                           
                    <File Id='XennetInf'
                          Source='xennet\xennet\$(env.DDK_ARCH)\xennet.inf'
                          KeyPath='yes' />
                    <File Id='XennetCat'
                          Source='xennet\xennet\$(env.DDK_ARCH)\xennet.cat' />
                    <File Id='XennetSys'
                          Source='xennet\xennet\$(env.DDK_ARCH)\xennet.sys' />
                    <File Id='XennetCoinst'
                          Source='xennet\xennet\$(env.DDK_ARCH)\xennet_coinst.dll' />
                    <difx:Driver />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
</Wix>
